.name {
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


    max-width: 630px;
    margin: 30px auto 0 auto;
    line-height: 1.6;
    word-wrap: break-word;

    padding: 0 15px 0 15px;
}

.job {
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


    max-width: 630px;
    margin: 20px auto 20px auto;
    line-height: 1.6;
    word-wrap: break-word;

    padding: 0 15px 0 15px;
    font-weight: bold;
}

.intro {
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    max-width: 630px;
    margin: auto;
    line-height: 1.6;
    word-wrap: break-word;

    padding: 0 15px 0 15px;
    font-weight: bold;

}

.hire {
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    max-width: 630px;
    margin: 30px auto 5px auto;
    line-height: 1.6;
    word-wrap: break-word;

    padding: 0 15px 0 15px;

    font-weight: bold;

}

.email {
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    max-width: 630px;
    margin: 0 auto 0 auto;
    line-height: 1.6;
    word-wrap: break-word;

    padding: 0 15px 0 15px;
    font-weight: bold;
}



.phone {
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    max-width: 630px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
    word-wrap: break-word;

    padding: 0 15px 0 15px;
    font-weight: bold;
}

.importants {
    color:#00FF00;
}

.container {
    max-width: 630px;
    margin: 20px auto 20px auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding: 0 15px 0 15px;
}

.links {
    color: #00FF00;
    font-size: 15px;
    margin-top: 5px;

    font-family: Arial, Helvetica, sans-serif;

    white-space: nowrap;

    font-weight: bold;
    /* test*/
}


.links2 {
    color: white;
    font-size: 15px;
    margin-top: 5px;


    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.projects {
    text-align: justify;
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;


    max-width: 630px;
    margin: 50px auto -10px auto;

    word-wrap: break-word;

    padding: 0 15px 0 15px;
}

.projects-container {
    max-width: 630px;
    margin: 0 auto 0 auto;

    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    */


    color: white;
    padding: 0 15px 0 15px;
    font-family: Arial, Helvetica, sans-serif;

    
}


.domains {
    text-align: justify;
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    font-weight: bold;
}




.container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: -25px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}










.project-list {
    list-style: none;
    padding: 0;
}

.project-list li {
    display: flex;
    justify-content: space-between;
    /* Pushes content to opposite ends */
    align-items: baseline;
    margin-bottom: 12px;
}

.project-title {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.description {
    color: #999;
    margin-left: 8px;

    margin: 0 15px 0 0;
}

.code-link {
    color: white;
    text-decoration: underline;
    font-size: 0.9rem;

    margin: 0 0 0 15px;
}



.exp {
    text-align: justify;
    color: #00FF00;
    font-family: Arial, Helvetica, sans-serif;


    max-width: 630px;
    margin: 30px auto 0 auto;

    word-wrap: break-word;
}

.project-title2 {
    color: #fff;
    font-weight: bold;

}

.code-link2 {
    color: white;

    font-size: 0.9rem;
}

.container-icon {
    max-width: 630px;
    margin: 20px auto 20px auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    padding: 0 15px 0 15px;

    vertical-align: center;
}

.items {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


.academics {
    margin-top: 15px;
    padding-right: 10%;
}



.subjects-sem{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    gap: 1%;
}



.subjects {
    list-style: none;
    padding: 0;
}

.subjects li {
    display: flex;
    justify-content: space-between;
    /* Pushes content to opposite ends */
    align-items: baseline;
    margin-bottom: 12px;
}

.subjects-title {
    color: #fff;
    font-weight: bold;

}

.format {
    color: #00FF00;
}

.subjects-sem {
    margin-top: -15px;
}

.format-each-sem {
    /*margin: 0 15px 0 0;*/
    width: 48%;
    
}

