html,
body,
#root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;

    /*test*/
    background: black;
    /*height: 100%;*/

    min-height: 100vh;

    overflow-y: auto !important;
}



/* width of scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* background track */
::-webkit-scrollbar-track {
    background: #111;
}

/* draggable part */
::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #00cc00;
}

/* Make canvas fixed to always cover full page */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*100%*/
    min-height: 100vh;
    z-index: -1;
    /*0*/
    display: block;
    pointer-events: none;
    /* So you can still click content */

    transform: translateZ(0);
}

/* Ensure your content is visible above canvas */
.intro-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.content-overlay {
    position: relative;
    z-index: 2;
}




/* Optional mobile adjustments */
@media (max-width: 768px) {
    .intro-container {
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }

    canvas {
        width: 100vw !important;
        min-height: 100vh !important;
    }
}