/*
* {
    outline: 1px solid red !important;
}
*/

.navbar {
    max-width: 630px;
    margin: 0 auto 0 auto;
    width: 100%;

    


    background-color: black !important;
    z-index: 3;

    
}

.navbar-brand{
    margin-left: 10px;
    color: #00FF00 !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
  color: #00FF00 !important;
}

.dropdown-menu {
    background-color: black !important;
    
}

.dropdown-menu .dropdown-item {
    color: white !important;
    background-color: black !important;
    
}

.dropdown-menu .dropdown-item:hover {
    color: #00FF00 !important;
}




.navbar-toggler {
    border-color: black !important; /* Optional: cyan border for the button */
    border-width: 3px !important;
}


.navbar-toggler:focus {
    color: #00FF00 !important;
}




/* Applies when screen is 576px or smaller (phones) */
@media (max-width: 576px) {
  .navbar {
    margin : 0;
  }

  .nav-link {
    
    margin-left: 15px
  }
}



